interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api-stage.airbase.io/v1/accounting/ledger_entries/
  response:
    body:
      string: '{"data": [{"id": "-Fallback-scrubbed-xzKDBaKdeHcTMUzDarphsHzFloRVyFyAtTqw",
        "airbase_id": "-Fallback-scrubbed-xzKDBaKdeHcTMUzDarphsHzFloRVyFyAtTqw", "erp_reference_id":
        null, "erp_url": null, "url": "-Fallback-scrubbed-vkCvQHNkKEOnLkwZIVfsAmFHoxFMzffRpMiLjGjRfiZBUPcSgPMDpLMKoSdEfaDbdPKyheEdNxSQklBuwZcudTic",
        "airbase_url": "-Fallback-scrubbed-vkCvQHNkKEOnLkwZIVfsAmFHoxFMzffRpMiLjGjRfiZBUPcSgPMDpLMKoSdEfaDbdPKyheEdNxSQklBuwZcudTic",
        "type": "-Fallback-scrubbed-jtio", "status": "-Fallback-scrubbed-RPzGZubRiI",
        "error_message": "-Fallback-scrubbed-", "spend_owner": {"name": "Brittany
        Gonzales", "email": "gbrown@example.com"}, "subsidiary": {"erp_reference_id":
        "-Fallback-scrubbed-DSNqAFJ", "name": "Kevin Downs"}, "credit_mode": "-Fallback-scrubbed-NafRcsVzKRROdWtJ",
        "vendor": {"id": "-Fallback-scrubbed-iVZEJxrmVxNJnmMotdrwCJIhbIoDFmhApYLW",
        "airbase_id": "-Fallback-scrubbed-iVZEJxrmVxNJnmMotdrwCJIhbIoDFmhApYLW", "name":
        "Jeffrey Arnold", "erp_reference_id": "-Fallback-scrubbed-", "created_in_platform":
        false, "created_in_airbase": false}, "employee": null, "invoice_number": "-Fallback-scrubbed-OrqqjNOzyc",
        "bank_account": null, "ap_account": {"erp_reference_id": "-Fallback-scrubbed-aScIF",
        "name": "Stephanie Lam"}, "applied_to": null, "receipt_link": null, "entry_date":
        "-Fallback-scrubbed-ARsqNDumOoTsmLVheWV", "payment_entry_date": null, "currency":
        {"erp_reference_id": "-Fallback-scrubbed-ptE", "iso_code": "-Fallback-scrubbed-ptE"},
        "total_amount": "-Fallback-scrubbed-zHy", "transaction_tags": [], "notes":
        "-Fallback-scrubbed-KvQfQmUvkgSROweuFopdZaM", "is_amortized": true, "amortization_account":
        null, "amortization_start_date": null, "amortization_end_date": null, "expense_list":
        [{"line_number": 6199, "receipt_link": null, "account": {"erp_reference_id":
        "-Fallback-scrubbed-ivyj", "name": "Robert Wilson"}, "amount": "-Fallback-scrubbed-fh",
        "tags": [], "description": "-Fallback-scrubbed-QAIKforwqORKuLL", "amortization_start_date":
        null, "amortization_end_date": null}, {"line_number": 6270, "receipt_link":
        null, "account": {"erp_reference_id": "-Fallback-scrubbed-pPoMv", "name":
        "Denise Castillo"}, "amount": "-Fallback-scrubbed-dc", "tags": [], "description":
        "-Fallback-scrubbed-ojwdiwXCHgkLdOgQ", "amortization_start_date": null, "amortization_end_date":
        null}], "amounts": {"amount": {"amount": "-Fallback-scrubbed-zHy", "currency":
        {"erp_reference_id": "-Fallback-scrubbed-ptE", "iso_code": "-Fallback-scrubbed-ptE"}},
        "transaction_amount": {"amount": "-Fallback-scrubbed-zHy", "currency": {"erp_reference_id":
        "-Fallback-scrubbed-ptE", "iso_code": "-Fallback-scrubbed-ptE"}}, "settlement_amount":
        null, "subsidiary_amount": {"amount": "-Fallback-scrubbed-zHy", "currency":
        {"erp_reference_id": "-Fallback-scrubbed-ptE", "iso_code": "-Fallback-scrubbed-ptE"}}}},
        {"id": "-Fallback-scrubbed-VNmxquQIRlkyLekQiCvDIOiAJdsVrCPIEJPW", "airbase_id":
        "-Fallback-scrubbed-VNmxquQIRlkyLekQiCvDIOiAJdsVrCPIEJPW", "erp_reference_id":
        null, "erp_url": null, "url": "-Fallback-scrubbed-bqBXICRfAtsoOJsAZfTSUaeJxUxPEiTjoaKtskSSlhtOBplHyYqHrjrHKwJhVnIygOquAOcyoHMveRttRZoERaZI",
        "airbase_url": "-Fall[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-stage.airbase.io/v1/accounting/ledger_entries/?page=2
  response:
    body:
      string: '{"data": [], "pagination": {"next": null, "previous": null, "page":
        6270, "page_size": 802}}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-Airbase-Auth-Token-Id:
      - '470'
      X-Airbase-Release-Version:
      - v4583
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '483'
    status:
      code: 200
      message: OK
version: 1
