interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api-stage.airbase.io/v1/accounting/vendors/?erp_reference_id=
  response:
    body:
      string: '{"data": [{"id": "-Fallback-scrubbed-nMdMhCgrqNcoQQWjdKfkbHjEjIiavCOqBzbc",
        "airbase_id": "-Fallback-scrubbed-nMdMhCgrqNcoQQWjdKfkbHjEjIiavCOqBzbc", "erp_reference_id":
        "-Fallback-scrubbed-", "erp_parent_reference_id": null, "name": "Kevin Ray",
        "is_active": false, "email": null, "subsidiary_reference_ids": []}, {"id":
        "-Fallback-scrubbed-GOwMhcNstFWiyKfIMteiyjrZbeYvjhegfFSy", "airbase_id": "-Fallback-scrubbed-GOwMhcNstFWiyKfIMteiyjrZbeYvjhegfFSy",
        "erp_reference_id": "-Fallback-scrubbed-", "erp_parent_reference_id": null,
        "name": "Sean Henry", "is_active": false, "email": null, "subsidiary_reference_ids":
        []}, {"id": "-Fallback-scrubbed-NKPjFtcZtPcYPnctmQneQzeLMDGrWORNIQmC", "airbase_id":
        "-Fallback-scrubbed-NKPjFtcZtPcYPnctmQneQzeLMDGrWORNIQmC", "erp_refer[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-stage.airbase.io/v1/accounting/vendors/?erp_reference_id=&page=2
  response:
    body:
      string: '{"data": [], "pagination": {"next": null, "previous": null, "page":
        1886, "page_size": 1860}}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-Airbase-Auth-Token-Id:
      - '470'
      X-Airbase-Release-Version:
      - v4583
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '481'
    status:
      code: 200
      message: OK
version: 1
